.startPage{
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.image{
    max-width: 90%;
    display: block;
    justify-self: center;
    align-self: center;
}

.imageContact{
    max-width: 90%;
    display: block;
    justify-self: center;
    align-self: center;
}


.imageMobile{
    display: none;
}


.titlePage{
    margin:5%;
    font-weight: 800;
    font-size: xx-large;
}

.contactTitle{
    padding:2%;
}

@media (max-width: 670px){
    .startPage{
        display: none;
    }

    .imageContact{
        display: none;
    }

    .imageMobile{
        max-width: 90%;
        display: block;
        justify-self: center;
        align-self: center;
        padding: 1%;
    }
    

    .startPageMobile{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        max-height: 100vh;
        /* align-items: center; */
        justify-content: center;


    }
}