body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --navy-blue: #03045eff;
  --dark-cornflower-blue: #023e8aff;
  --star-command-blue: #0077b6ff;
  --blue-green: #0096c7ff;
  --cerulean-crayola: #00b4d8ff;
  --sky-blue-crayola: #48cae4ff;
  --sky-blue-crayola-2: #90e0efff;
  --blizzard-blue: #ade8f4ff;
  --powder-blue: #caf0f8ff;
}
